<pre>
available variables:

phone_number: string
first_name: string
last_name: string
order_id: number
email: string
bikes: []{name: string, type: string, code: undefined | number}
accessories: []{type: string}
delivery: boolean
multiday: boolean
</pre>
<form method="post">
  {% if email %}
    <p>subject</p>
    <input value="{{header}}" name="header" type="text"/>
  {% endif %}
  <br>
  <p>body</p>
  <textarea name="text" rows="20" cols="60">{{text}}</textarea>
  <br>
  <input type="submit">
</form>
